body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 100px;
}
code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


h2 {
    margin-top: 0;
}

#posts-list {
    display: flex;
    flex-direction: column;
}

.post {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.post img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-avatar-container {
    display: flex;
    align-items: center;
}


.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post-author {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10px;
}

.post-author-info {
    margin-left: 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.post-type {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
}


.post-time {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
    text-align: right;
}

.post-header .username {
    font-weight: bold;
    margin-left: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.post-footer .actions {
    display: flex;
    gap: 10px;
    align-items: center;

}


.post-footer .actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #888;
    display: flex;
    align-items: center;
}

.post-footer .actions button:hover {
    color: #000;
}



a.explore-link{
    color: black;
    text-decoration: none;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.popular-tags {
    list-style-type: none;
    padding: 0;
}

.popular-tags li {
    padding: 10px 0;
    color: black;
    cursor: pointer;
}

.popular-tags li:hover {
    text-decoration: underline;
}


.action-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    margin-top: 1.5rem;
    margin-bottom: 25px;
    border-top: none;
    padding: 0;
}


.action-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #666;
    padding: 8px 12px 8px 0;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-btn i {
    font-size: 22px;
    margin-right: 5px;
}

.action-btn span {
    font-size: 16px;
}


.like-btn.liked {
    color: #ff4500;
}

.bookmark-btn.bookmarked {
    color: #FFD700;
    justify-content: center;
}

.delete-btn.clicked {
    color: #28a745;
}


.action-btn:hover {
    color: #000;
    border-color: #ccc;
}


.chat-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-icon, .chat-text .material-icons-outlined {
    pointer-events: none;
}



.like-btn:hover {
    color: #ff4500;
}

.bookmark-btn:hover {
    color: #FFD700;
}

.delete-btn:hover {
    color: #28a745;
}

.tag-btn {
    display: inline-block;
    border: none;
    border-radius: 12px;
    color: #333;
    font-size: 1.25rem;
    cursor: pointer;
    margin-right: 5px;
}



.tags{
    border-radius: 10px !important;
}

p {
    display: block;
    border: none;
    border-radius: 12px;
    color: #333;
    padding-bottom: 0;
    font-size: 1.25rem;
    margin: 0.5rem 0;
}
.post p {
    margin-bottom: 0.5rem;
}
.label-tag {
    font-weight: bold;
    background-color: #e0e0e0;
    color: #333;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 1.25rem;
    margin-right: 8px;
    display: inline-block;
}


.comment-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.comment-avatar {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-content {
    flex-grow: 1;
}

.comment-header {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: flex-start;
}

.comment-username {
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
}

.comment-time {
    font-size: 12px;

    color: #888;
    display: inline-block;

}

.comment-text {
    font-size: 14px;
    margin: 0;
    word-wrap: break-word;
}

.comment-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    box-sizing: border-box;
}


.comment-box .comment-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;      align-items: center;      cursor: pointer;      font-size: 14px;      transition: background-color 0.3s ease, color 0.3s ease;  }

.comment-box .comment-btn i {
    color: white;  }

.textarea-container {
    position: relative;
    display: flex;
    align-items: center;
}

textarea {
    width: 100%;
    padding-right: 40px;     box-sizing: border-box;
    resize: none;     background-color: #fff;     color: #000;     border: 2px solid #000;     border-radius: 5px;
}

textarea::placeholder {
    color: #666; }

.comment-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;     font-size: 16px;
}

.comment-btn i {
    color: white; }

.textarea-container textarea:focus + .comment-btn i {
    color: white; }
/*留言按鈕*/



.delete-comment-btn {
    background-color: #f9f9f9;       border: none;                  cursor: pointer;               padding: 5px;              }

.delete-comment-btn .material-icons-outlined {
    color: red;                    font-size: 24px;           }

.delete-comment-btn:hover {
    background-color: #f8f8f8;
}



.post-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post-actual-time {
    font-size: 0.85rem;
    color: #666;
    margin-top: 4px;
}

.post-time, .post-actual-time {
    font-size: 0.85rem;
    color: #666;
    margin-top: 4px;
}

.post-time {
    font-weight: bold;
}

.container {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
    max-width: 1200px;
    min-width: 300px;
    transition: width 0.5s ease;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.search-sidebar {
    flex: 1;
    position: sticky;
    top: 80px;
    color: black;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease;
    min-width: 150px;
    max-width: 250px;
    height: 450px;
    overflow-y: auto;
}



.search-input {
    width: 60%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-wrapper {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 50px;
    top: 35%;
    transform: translateY(-50%);
    color: #808080;
    font-size: 24px;
}

.section {
    flex: 6;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#posts.section {
    background-color: #fff;
    width: 100%;
    min-width: 300px;
}



@media (min-width: 1400px) {
    .container {
        width: 60%;
        max-width: 1600px;
    }

    .search-sidebar {
        max-width: 250px;
    }

    .section {
        flex: 8;
    }
}

@media (min-width: 1024px) and (max-width: 1400px) {
    .container {
        width: 70%;
        max-width: 1200px;
    }

    .search-sidebar {
        flex: 2;
        max-width: 250px;
    }

    .section {
        flex: 8;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 85%;
        max-width: 900px;
    }

    .search-sidebar {
        max-width: 220px;
    }

    .section {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 80%;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .search-sidebar {
        width: 100%;
        position: relative;
        max-width: none;
        height: auto;
    }

    .section {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .search-sidebar {
        position: static;
        width: 100%;
        max-width: none;

    }
}




#posts-list:empty {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    font-style: italic;
    color: #888;
}

#posts-list:empty::after {
    content: "暫無文章";
}

#bookmarks-list:empty {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    font-style: italic;
    color: #888;
}

#bookmarks-list:empty::after {
    content: "暫無文章";
}

.post-job-title{
    margin: 5px 0 0 10px;
}

/*edit-post*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.modal-container {
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    z-index: 1001;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    width: 600px;
}


.modal-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-container label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-container input,
.modal-container textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-container textarea {
    resize: vertical;
    min-height: 100px;
}

.modal-container button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


.modal-container button:hover {
    background-color: #333;
}
